.env
.venv/
.cache/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

data/source_repo/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/biographies/*
!data/biographies/.gitkeep

*.log
*.tmp
*.bak
